<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TravelCo - Home</title>
    <!-- Bootstrap CSS, JS, and jQuery -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

      <link rel="stylesheet" type="text/css" href="../static/uploads/style.css">
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
  <body style="background-color:White; -webkit-background-size: cover;">

  <nav class="navbar navbar-default">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"><a href="https://www.expedia.com"><img id="logo" src="static/expedia_logo.png" style = "height: 40px;width: auto"></a></li>
    </ul>

      <ul class="nav navbar-right">
        <a href={{ url_for('route_plan_your_trip', emailId = emailId) }}><i style="font-size:24px;color:-moz-mac-chrome-active;padding-left:20px" class="glyphicon glyphicon-home"></i></a>
        <i style="font-size:24px;color:-moz-mac-chrome-active;padding-left:20px;padding-top:20px" class="glyphicon glyphicon-envelope"></i>
        <i style="font-size:24px;color:-moz-mac-chrome-active;padding-left:20px" class="glyphicon glyphicon-bell"></i>
        <i data-toggle="dropdown" style="font-size:24px;color:-moz-mac-chrome-active;padding-left:20px;padding-right:40px" class="glyphicon glyphicon-user"></i>
        <ul class="dropdown-menu">
            <li><a href={{ url_for('route_plan_your_trip', emailId = emailId) }}><span class="glyphicon glyphicon-send" ></span> Plan your trip </a></li>
            <li><a href={{ url_for('route_user_activities', emailId = emailId) }}><span class="glyphicon glyphicon-eye-open"></span> View own trips </a></li>
        </ul>
    </ul>


  </div>
</nav>

<div class="container">
     <center>
                 <h1 style="color: green;">{{ successMessage }}</h1>

    <div style="border: 1px dotted black;background-color: #F0F8FF ;width: 80rem;">


  <h2>Post a activity...</h2>
  <form class="form-horizontal" action={{url_for('route_post_activity', emailId = emailId, name = name)}}>

      <input type="hidden" class="form-control" name= "name" id="name" value = {{ name }}>
      <input type="hidden" class="form-control" name= "emailId" id="emailId" value = {{ emailId }}>


    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Trip title</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name= "tripName" id="tripName" placeholder="Enter trip title" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="fromLocation">From <span class="glyphicon glyphicon-map-marker" ></span>  </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name= "fromLocation" id="fromLocation" placeholder="Enter from location" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="toLocation">To <span class="glyphicon glyphicon-map-marker" ></span>  </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name= "toLocation" id="toLocation" placeholder="Enter to location" required >
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="tripStartDate">Start date <span class="glyphicon glyphicon-calendar" ></span>  </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name= "tripStartDate" id="tripStartDate" placeholder="Enter trip start date" required>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-2" for="tripEndDate">End date <span class="glyphicon glyphicon-calendar" ></span>  </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name= "tripEndDate" id="tripEndDate" placeholder="Enter trip end date" required>
      </div>
    </div>

      <! WIP>

  <div class="form-group">
      <label class="control-label col-sm-2" for="addMembers">Add Members </label>
      <div id="survey_options">
        <select class="form-select" id = "gender" name = "userMembers">
  <option selected>Gender</option>
  <option value="Male">Male</option>
  <option value="Female">Female</option>
  <option value="Any">Any</option>
</select>

        <select class="form-select" id = "ageGroup" name = "userMember">
  <option selected>Age Group</option>
<option value="0-5">0-5</option>
<option value="6-10">6-10</option>
  <option value="11-15">11-15</option>
  <option value="16-20">16-20</option>
  <option value="21-25">21-25</option>
<option value="26-30">26-30</option>
  <option value="31-35">31-35</option>
  <option value="36-40">36-40</option>
  <option value="41-45">41-45</option>
  <option value="46-50">46-50</option>
  <option value="51-55">51-55</option>
<option value="56-60">56-60</option>
  <option value="61-65">61-65</option>
  <option value="66-70">66-70</option>
  <option value="71-75">71-75</option>
  <option value="76-80">76-80</option>
  <option value="81-85">81-85</option>
<option value="85+">85+</option>
</select>

           <select class="form-select" id = "vaccination" name = "userMemberVaccine">
  <option selected>Vaccination Status</option>
  <option value="Yes">Yes</option>
  <option value="No">No</option>
</select>
    </div>
    <div class="controls">
      <a href="#" id="add_more_fields"><i class="fa fa-plus"></i>Add More</a>
      <a href="#" id="remove_fields"><i class="fa fa-minus"></i>Remove Field</a>
    </div>
  </div>
<script src="static/uploads/script.js"></script>




    <div class="form-group">
       <div class="form-check"   align = "left">
            <strong>&emsp; &emsp; &emsp;Planned activities</strong><br><br>
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity1" name="plannedActivity" value="shopping">
            <label for="plannedActivity1"> shopping</label><br>
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity2" name="plannedActivity" value="food, drink & nightlife">
            <label for="plannedActivity2"> food, drink & nightlife</label><br>
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity3" name="plannedActivity" value="gallery and museum">
            <label for="plannedActivity3"> gallery and museum</label><br>

            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity4" name="plannedActivity" value="sightseeing & city tours">
            <label for="plannedActivity4"> sightseeing & city tours</label><br>
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity5" name="plannedActivity" value="history & culture">
            <label for="plannedActivity5"> history & culture</label><br>
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity6" name="plannedActivity" value="theme park and water activities">
            <label for="plannedActivity6"> theme park and water activities</label><br>

            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity7" name="plannedActivity" value="wildlife & nature">
            <label for="plannedActivity7"> wildlife & nature</label><br>
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity8" name="plannedActivity" value="cruises or boat rides">
            <label for="plannedActivity8"> cruises or boat rides</label><br>
            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity9" name="plannedActivity" value="adventure">
            <label for="plannedActivity9"> adventure</label><br>

            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity10" name="plannedActivity" value="spa & wellness">
            <label for="plannedActivity10"> spa & wellness</label><br>

            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity11" name="plannedActivity" value="hiking & camping">
            <label for="plannedActivity11"> hiking & camping</label><br>

            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity12" name="plannedActivity" value="movies, shows or concerts">
            <label for="plannedActivity12"> movies, shows or concerts</label><br>

            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
           <input type="checkbox" id="plannedActivity13" name="plannedActivity" value="road trip">
            <label for="plannedActivity13"> road trip</label><br>

        </div>
        </div>








    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
     </div>
         </center>

</div>


  </body>
</html>
