<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TravelCo - Home</title>
    <!-- Bootstrap CSS, JS, and jQuery -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>

</head>
  <body style="background-color:White; -webkit-background-size: cover;">

  <nav class="navbar navbar-default">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><a href={{url_for('route_user_home')}}><img id="logo1" src="static/travelco_logo_2.png" style = "height: 80px;width: auto;"></a></li>

    </ul>

    <ul class="nav navbar-right">
      <li class="active"><a href="https://www.expedia.com"><img id="logo" src="static/expedia_logo.png" style = "height: 80px;width: auto;"></a></li>

    </ul>

    <ul class="nav navbar-right">
        <li><a href={{ url_for('route_user_home_page', emailId = emailId) }}><span class="glyphicon glyphicon-home" ></span> Home </a></li>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-user" ></span> {{name}}
                </button>
                      <ul class="dropdown-menu">
                        <li><a href={{url_for('route_search_activity', emailId = emailId)  }}><span class="glyphicon glyphicon-search" ></span> Search activities </a></li>
                        <li><a href={{url_for('route_post_activity', emailId = emailId)  }}><span class="glyphicon glyphicon-send" ></span> Post activities </a></li>
                         <li><a href={{ url_for('route_user_activities', emailId = emailId) }}><span class="glyphicon glyphicon-eye-open"></span> View own activities </a></li>
                      </ul>
        </div>

    </ul>


  </div>
</nav>

 <div class="container">
  <div class="container">

      {% if  activities != [] %}
        <div class="alert alert-info">
          <strong><h3>Searched Results!!!</h3></strong>
        </div>
      {% endif %}



    {% for activity in activities %}
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">{{ activity.get('name') }}</h3>
              </div>
              <div class="panel-body">
                  <p>

                  <ul class="nav nav-pills">
                  <li role="presentation"><a href="#">From <span class="glyphicon glyphicon-map-marker" ></span> : {{ activity.get('fromLocation') }}</a></li>
                  <li role="presentation"><a href="#">To <span class="glyphicon glyphicon-map-marker" ></span> : {{ activity.get('destinationLocation') }}</a></li>
                  </ul>


                  <ul class="nav nav-pills">
                  <li role="presentation"><a href="#">Trip Start Date <span class="glyphicon glyphicon-calendar" ></span> : {{ activity.get('tripStartDate') }}</a></li>
                  <li role="presentation"><a href="#">Trip End Date <span class="glyphicon glyphicon-calendar" ></span> : {{ activity.get('tripEndDate') }}</a></li>
                  </ul>

                <ul class="nav nav-pills nav-stacked">
                  <li role="presentation"><a href="#">Members  <span class="glyphicon glyphicon-user" ></span> : {{ activity.get('groupSize') }}</a></li>
                </ul>


                <ul class="nav nav-pills">
                  <li role="presentation"><a href="#">Activities </a></li>
                </ul>
                    <div class="container">
                    <ol class="nav nav-pills nav-stacked">
                         {% for plannedActivity in activity.get('activities') %}
                                <li role="presentation"><a href="#"> <span class="glyphicon glyphicon-tag" ></span> {{ plannedActivity}} </a></li>
                           {% endfor %}
                    </ol>
                    </div>

            {% if activity.get('message') != ""  %}
            <ul class="nav nav-pills" >
                  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-info-sign" ></span>&nbsp;&nbsp;<strong style="color:orange;">{{ activity.get('message') }}</strong> </a></li>
                </ul>
            {% endif %}

            {% if activity.get('score') > 0 %}
            <ul class="nav nav-pills" >
                  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-info-sign" ></span>&nbsp;&nbsp;<strong style="color:orange;">Matching score : {{ activity.get('score') }}</strong> </a></li>
                </ul>
            {% endif %}


              {% if activity.get('isNonMember')  %}
              <p align="right">
                     <a href={{ url_for('route_join_group',emailId = emailId,postId =  activity.get('postId')) }}><button type="button" class="btn btn-primary active">Join Group</button></a>
              </p>
              {% endif %}

              {% if activity.get('isPrimary')  %}
              <div class="alert alert-success">
                <strong>You are the primary member of this group!</strong>
             </div>

                {% if activity.get('groupSize') > 1 %}

                  <p align = right ><a ><button type="button" class="btn btn-primary active" onclick="openForm()">Chat</button></a></p>

                        <div class="chat-popup" id="myForm">

                          <form action="" class="form-container" method="POST">
                            <h1>Chat</h1>
                              <div class = "panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-body">
                                    <div class="message_holder"></div>
                                    </div>
                                        </div>

                              </div>

                              <input type="hidden" class="username" placeholder="User Name" value={{ name }}>

                              <label for="msg"><b>Message</b></label>
                              <br>
                              <input type="text" class="form-control-plaintext message"  name="message" placeholder="Type message.." id="msg" required>



                            <button type="submit" class="btn">Send</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                          </form>
                        </div>


              {% endif %}

              {% endif %}


              {% if activity.get('isMember')  %}
              <div class="alert alert-success">
                <strong>You have joined this group!</strong>
             </div>

                                 <p align = right ><a ><button type="button" class="btn btn-primary active" onclick="openForm()">Chat</button></a></p>

                        <div class="chat-popup" id="myForm">

                          <form action="" class="form-container" method="POST">
                            <h1>Chat</h1>
                              <div class = "panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-body">
                                    <div class="message_holder"></div>
                                    </div>
                                        </div>

                              </div>

                              <input type="hidden" class="username" placeholder="User Name" value={{ name }}>

                              <label for="msg"><b>Message</b></label>
                              <br>
                              <input type="text" class="form-control-plaintext message"  name="message" placeholder="Type message.." id="msg" required>



                            <button type="submit" class="btn">Send</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                          </form>
                        </div>


              {% endif %}


            </p>




    {% endfor %}

 </div>




  <!-- List group -->

</div>
  </div>
 </div>


  </body>



                        <script>
                        function openForm() {
                          document.getElementById("myForm").style.display = "block";
                        }

                        function closeForm() {
                          document.getElementById("myForm").style.display = "none";
                        }
                           var socket = io.connect('http://' + document.domain + ':' + location.port);

                          socket.on( 'connect', function() {
                            socket.emit( 'my event', {
                              data: 'User Connected'
                            } )
                            var form = $( 'form' ).on( 'submit', function( e ) {
                              e.preventDefault()
                              let user_name = $( 'input.username' ).val()
                              let user_input = $( 'input.message' ).val()
                              socket.emit( 'my event', {
                                user_name : user_name,
                                message : user_input
                              } )
                              $( 'input.message' ).val( '' ).focus()
                            } )
                          } )
                          socket.on( 'my response', function( msg ) {
                            console.log( msg )
                            if( typeof msg.user_name !== 'undefined' ) {
                              $( 'h3' ).remove()
                              $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+': </b> '+msg.message+'</div>' )
                            }
                          })
                        </script>



</html>
