<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TravelCo - Home</title>
    <!-- Bootstrap CSS, JS, and jQuery -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 20px;
  border: 1px solid #f1f1f1;
  z-index: 9;
  width: 400px
}

.message_holder{
    height : 100%;
    height : 150px;
    max-height: 150px;
    overflow-y: scroll;
    position: relative;

}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
  min-height: 50px;


}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  height: 5px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>

</head>
  <body style="background-color:White; -webkit-background-size: cover;">

  <nav class="navbar navbar-default">
  <div class="container-fluid">

 
        <ul class="nav navbar-nav">
      <li class="active"><a href="https://www.expedia.com"><img id="logo" src="static/expedia_logo.png" style = "height: 40px;width: auto"></a></li>


    </ul>

    <ul class="nav navbar-right">
        <a href={{ url_for('route_plan_your_trip', emailId = emailId) }}><i style="font-size:24px;color:-moz-mac-chrome-active;padding-left:20px" class="glyphicon glyphicon-home"></i></a>
        <i style="font-size:24px;color:-moz-mac-chrome-active;padding-left:20px" class="glyphicon glyphicon-envelope"></i>
        <i style="font-size:24px;color:-moz-mac-chrome-active;padding-left:20px;padding-top:20px" class="glyphicon glyphicon-bell"></i>
        <i data-toggle="dropdown" style="font-size:24px;color:-moz-mac-chrome-active;padding-left:20px;padding-right:40px" class="glyphicon glyphicon-user"></i>
        <ul class="dropdown-menu">
            <li><a href={{ url_for('route_plan_your_trip', emailId = emailId) }}><span class="glyphicon glyphicon-send" ></span> Plan your trip </a></li>
            <li><a href={{ url_for('route_user_activities', emailId = emailId) }}><span class="glyphicon glyphicon-eye-open"></span> View own trips </a></li>
        </ul>
    </ul>

  </div>
</nav>

 <div class="container">
  <div class="container"  style ="width : 800px;">

    <div class="alert alert-info">
      <strong>Trips where {{ name }} is member or admin!!!</strong>
    </div>


    {% for activity in activities %}
            <div class="panel panel-primary">
              <div class="panel-heading">
                {{ activity.get('name') }}
              </div>
              <div class="panel-body">
                  <p>

                  <ul class="nav nav-pills">
                  <li role="presentation"><a href="#">From <span class="glyphicon glyphicon-map-marker" ></span> : {{ activity.get('fromLocation') }}</a></li>
                  <li role="presentation"><a href="#">To <span class="glyphicon glyphicon-map-marker" ></span> : {{ activity.get('destinationLocation') }}</a></li>
                  </ul>


                  <ul class="nav nav-pills">
                  <li role="presentation"><a href="#">Trip Start Date <span class="glyphicon glyphicon-calendar" ></span> : {{ activity.get('tripStartDate') }}</a></li>
                  <li role="presentation"><a href="#">Trip End Date <span class="glyphicon glyphicon-calendar" ></span> : {{ activity.get('tripEndDate') }}</a></li>
                  </ul>

                <ul class="nav nav-pills nav-stacked">
                  <li role="presentation"><a href="#">Members  <span class="glyphicon glyphicon-user" ></span> : {{ activity.get('groupSize') }}</a></li>
                </ul>



               <ul class="nav nav-pills nav-stacked">
                  <li role="presentation"><a href="#">Members : (Gender, Age Group, Vaccination Status)  <span class="glyphicon glyphicon-user" ></span> : {{ activity.get('userMembers') }} </a></li>
                </ul>

                <ul class="nav nav-pills">
                  <li role="presentation"><a href="#">Activities </a></li>
                </ul>
                    <div class="container">
                    <ol class="nav nav-pills"  style ="width : 800px;">
                         {% for plannedActivity in activity.get('activities') %}
                                <li role="presentation"><a href="#"> <span class="glyphicon glyphicon-tag" ></span> {{ plannedActivity}} </a></li>
                           {% endfor %}
                    </ol>
                    </div>

                {% if activity.get('message') != ""  %}
            <ul class="nav nav-pills" >
                  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-info-sign" ></span>&nbsp;&nbsp;<strong style="color:orange;">{{ activity.get('message') }}</strong> </a></li>
                </ul>
            {% endif %}


              {% if activity.get('isNonMember')  %}
              <p align="right">
                     <a href={{ url_for('route_join_group',emailId = emailId,postId =  activity.get('postId')) }}><button type="button" class="btn btn-primary active">Join Group</button></a>
              </p>
              {% endif %}

              <p align="right">
                    <a href={{ url_for('route_view_post',emailId = emailId,postId =  activity.get('postId')) }}><button type="button" class="btn btn-primary active">View Post Details</button></a>
                    {% if activity.get('groupSize') > 1 %}
                         <a ><button type="button" class="btn btn-primary active" onclick="openForm()">Chat</button></a>
                  {% endif %}
              </p>


              {% if activity.get('groupSize') > 1 %}

                         <div class="chat-popup" id="myForm">

                          <form action="" class="form-container" method="POST">
                            <h1>Chat</h1>
                              <div class = "panel panel-default" >
                                    <div class="panel-heading">
                                        <div class="panel-body " >
                                    <div class="message_holder"></div>
                                    </div>
                                        </div>

                              </div>

                              <input type="hidden" class="username" placeholder="User Name" value={{ name }}>

                              <label for="msg"><b>Message</b></label>
                                <textarea class="form-control message"  name="message"  id="comment" placeholder="Type message.." id="msg" required></textarea>


                            <button type="submit" class="btn">Send</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                          </form>
                        </div>



              {% endif %}

              {% if activity.get('isPrimary')  %}
              <div class="alert alert-success">
                <strong>You are the primary member of this group!</strong>
             </div>
              {% endif %}


              {% if activity.get('isMember')  %}
              <div class="alert alert-success">
                <strong>You have joined this group!</strong>
             </div>
              {% endif %}



            </p>
              </div>
            </div>

    {% endfor %}

 </div>




  <!-- List group -->

</div>

                       <script>
                        function openForm() {
                          document.getElementById("myForm").style.display = "block";
                        }

                        function closeForm() {
                          document.getElementById("myForm").style.display = "none";
                        }
                           var socket = io.connect('http://' + document.domain + ':' + location.port);

                          socket.on( 'connect', function() {
                            socket.emit( 'my event', {
                              data: 'User Connected'
                            } )

                              socket.emit( 'my event', {
                              user_name: 'Chatbot',
                                  message : '<p>Hello Everyone! <br>Links to book tickets: ' +
                                      '<a href="https://www.expedia.com/Hotels">Hotel</a> ' +
                                      '<a href="https://www.expedia.com/Flights">Flight</a> ' +
                                      '<a href="https://www.expedia.com/Cars">Car</a> ' +
                                      '<a href="https://www.expedia.com/Activities">Activity</a> ' +
                                      '</p>'
                              } )


                            var form = $( 'form' ).on( 'submit', function( e ) {
                              e.preventDefault()
                              let user_name = $( 'input.username' ).val()
                              let user_input = $( 'textarea.message' ).val()
                              socket.emit( 'my event', {
                                user_name : user_name,
                                message : user_input
                              } )
                              $( 'textarea.message' ).val( '' ).focus()
                            } )
                          }



                          )
                          socket.on( 'my response', function( msg ) {
                            console.log( msg )
                            if( typeof msg.user_name !== 'undefined' ) {
                              $( 'h3' ).remove()
                              $( 'div.message_holder' ).append( '<div><b style="color: green">'+msg.user_name+': </b> '+msg.message+'</div>' )
                            }
                          })
                        </script>



  </body>
</html>
